* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

///* CORES * ///  
$branco: #ffffff;
$fundo-menu: rgb(182, 182, 182);
nav {
    width: 100vw;
    background-color: $fundo-menu;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 150px;
        height: 75px;
        margin-left: 50px;

        &:hover {
            cursor: pointer;
        }
    }

    .links-menu {
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 25vw;
        list-style-type: none;
        
        li {
            color: #ffffff;
            font-size: 18px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
            letter-spacing: 1px;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            &:hover {
                cursor: pointer;
            }

            a {
                color: $branco;
                text-decoration: none;

                &:hover {
                    color: #000000;
                }
            }
        }

        .dropdown {
           
            .flecha {
                font-size: 14px;
            }

            .submenu {
                display: none;
                list-style-type: none;
                
                li {
                    padding: 10px 5px;
                    background-color: grey;
                    width: 250px;
                }

                li:first-child {
                    margin-top: 30px;
                } 

            }

            &:hover .submenu {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 50px;
            }

        }
    }
}